<!Doctype html>
<html lang="en-US">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to the Event Application </h1>
<p align="left"> Hello,<strong><%=@event.user.name%></strong> </p>
<p> Someone commented on your <strong> <%=@event.event_name%> </strong>event. Please Check Out! </p>
<p> Regards, </p>
<p> BitCot Team </p>
</body>
</html>