<div class="p-5 mb-4 bg-light rounded-3" , id="jumbo">

  <% if user_signed_in? %>
    <h1>Welcome to Event Application</h1></br>
    <% else %>
    <h1>Welcome to Event Application</h1></br>
    <h2>Sign up or Sign In to create event!</h2></br>

  <h4><%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary" %></h4>
  or
  <h4><%= link_to 'Sign In', new_user_session_path, class:"btn btn-primary" %></h4>
</div>
<% end %>
