<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="https://twitter.com/pradeep00271">Check out my Twitter!</a>
      and Linked In Profile  <a href="https://www.linkedin.com/in/pradeepan-m-0b0851168/">Pradeepan Mohan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", home_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>